.mySwiper {
  width: 67%;
  height: 400px;
  margin-top: 2.3rem;
}

.slideImage {
  object-fit: cover;
  border-radius: 10px;
}

:global(.swiper-button-prev),
:global(.swiper-button-next) {
  color: #5a88ca !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
