.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: #f8f9fa ;
  width: 76%;
  margin-left: 13rem;
}

.branding {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logoLink {
  display: block;
  width: 150px;
  height: 150px;
  line-height: 0;
}
.center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cartLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  gap: 8px;
}

.cartAmount {
  font-weight: 700;
}

.iconCart {
  font-size: 20px;
}

.productCount {
  margin-left: 6px;
  background-color: #5a88ca;
  color: #fff;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 12px;
}